<nz-table *ngIf="playerMatches" #data nzSize="small" [nzScroll]="{x: '576px'}" [nzData]="playerMatches" [nzFrontPagination]="false" [nzFooter]="loadMore">
  <thead>
  <tr>
    <th *ngFor="let col of matchesColumn; let i = index" [nzWidth]="i === 10 || i === 1 ? '140px' : ''">{{col}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let s of data.data">
    <td>
      <nz-avatar [nzText]="teamWinResult(s) ? 'W' : 'L'" [ngClass]="teamWinResult(s) ? 'win' : 'lose'"></nz-avatar>
    </td>
    <td>
      {{enumMaps[s.rounds?.round_stats.Map]}}
    </td>
    <td>
      {{s.rounds?.round_stats.Score.replace(" / ", ":") }}
    </td>
    <td>
      {{s.player?.player_stats.Kills}}/{{s.player?.player_stats.Deaths}}/{{s.player?.player_stats.Assists}}
    </td>
    <td>
      {{s.player?.player_stats["K/D Ratio"] | number: ".2-2"}}
    </td>
    <td>
      {{s.player?.player_stats["K/R Ratio"] | number: ".2-2"}}
    </td>
    <td>
      {{s.player?.player_stats["Headshots %"]}}%
    </td>
    <td>
      {{s.player?.player_stats["Triple Kills"]}}
    </td>
    <td>
      {{s.player?.player_stats["Quadro Kills"]}}
    </td>
    <td>
      {{s.player?.player_stats["Penta Kills"]}}
    </td>
    <td>
      {{s.info?.finished_at * 1000 | date: "dd.MM.yy HH:mm" }}
    </td>
    <td>
      <a [href]="matchUrl + s.info?.match_id" target="_blank">
        <img src="/assets/other/faceit.svg" alt="demo"/>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>

<ng-template #loadMore>
    <button nzType="primary" nz-button class="load-btn">Load more</button>
</ng-template>
