.win {
  color: #fff;
  font-weight: 500;
  background-color: #27AE60;
}

.lose {
  color: #fff;
  font-weight: 500;
  background-color: #C0392B;
}

img {
  width: 1.5rem;
  height: 1.5rem;
  transition: .3s ease;
  &:hover {
    transform: scale(1.2);
  }
}

:host ::ng-deep .ant-table-footer {
  border: 1px solid #415071;
  background: #282f42;
  margin-top: -1px;
}

.load-btn {
  width: 100% !important;
}

